

.app,.app-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container{
  background-color: aliceblue;
}

.model-container{
  border: 1px solid black;
  width: 300px;
  background-color:white;
}

.hide-model-container{
  display: none;
}

.model-sub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-des{
   font-size: 20px;
}

.close-btn{
  margin-top:10px;
  margin-left: 10px;
}

.model-des,.model-btn{

    margin: 10px;
    padding: 10px;
}

.modelOpen,.showOffer{
  display: block;
 
}

.modelClose,.hideOffer{
  display: none;
}

.btn-close{
  display: none;
}

.btn-open{
  display: block;
}