/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.app,.app-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container{
  background-color: aliceblue;
}

.model-container{
  border: 1px solid black;
  width: 300px;
  background-color:white;
}

.hide-model-container{
  display: none;
}

.model-sub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-des{
   font-size: 20px;
}

.close-btn{
  margin-top:10px;
  margin-left: 10px;
}

.model-des,.model-btn{

    margin: 10px;
    padding: 10px;
}

.modelOpen,.showOffer{
  display: block;
 
}

.modelClose,.hideOffer{
  display: none;
}

.btn-close{
  display: none;
}

.btn-open{
  display: block;
}